# Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IntelliJ related
*.iml
*.ipr
*.iws
local.properties
.gradle/
.idea/
.idea/caches/build_file_checksums.ser
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
build/
app/*.txt
.DS_Store
app/mapping.txt
app/seeds.txt
app/unused.txt
.externalNativeBuild

app/production/
.cxx/